
not squished axis.pdf
not squished axis1.pdf
.RData
.Rhistory
example data/colorlearning/evaluations/rut_color-01_descr_anal.html
example data/colorlearning/evaluations/rut_color-02_descr_anal.html
example data/colorlearning/evaluations/rut_color-03_descr_anal.html
example data/colorlearning/evaluations/rut_color-04_descr_anal.html
example data/colorlearning/evaluations/rut_color-05_descr_anal.html
example data/colorlearning/evaluations/rut_color-06_descr_anal.html
example data/colorlearning/evaluations/rut_color-09_descr_anal.html
example data/colorlearning/evaluations/rut_color-11_descr_anal.html
example data/colorlearning/evaluations/rut_color-12_descr_anal.html
example data/colorlearning/evaluations/rut_color-13_descr_anal.html
example data/colorlearning/evaluations/rut_color-14_descr_anal.html
example data/colorlearning/evaluations/rut_color-15_descr_anal.html
example data/colorlearning/evaluations/rut_color-16_descr_anal.html
example data/colorlearning/evaluations/wtb-rut-colorlearning.html
example data/colorlearning/evaluations/wtb_color-01_descr_anal.html
example data/colorlearning/evaluations/wtb_color-02_descr_anal.html
example data/colorlearning/evaluations/wtb_color-03_descr_anal.html
example data/colorlearning/evaluations/wtb_color-04_descr_anal.html
example data/colorlearning/evaluations/wtb_color-05_descr_anal.html
example data/colorlearning/evaluations/wtb_color-06_descr_anal.html
example data/colorlearning/evaluations/wtb_color-09_descr_anal.html
example data/colorlearning/evaluations/wtb_color-11_descr_anal.html
example data/colorlearning/evaluations/wtb_color-12_descr_anal.html
example data/colorlearning/evaluations/wtb_color-13_descr_anal.html
example data/colorlearning/evaluations/wtb_color-14_descr_anal.html
example data/colorlearning/evaluations/wtb_color-15_descr_anal.html
example data/colorlearning/evaluations/wtb_color-16_descr_anal.html
example data/colorlearning/evaluations/wtb_color-17_descr_anal.html
example data/colorlearning/evaluations/wtb_color-18_descr_anal.html
example data/colorlearning/evaluations/wtb_color-19_descr_anal.html
example data/colorlearning/evaluations/wtb_color-20_descr_anal.html
example data/colorlearning/evaluations/wtb_color-21_descr_anal.html
example data/colorlearning/evaluations/wtb_color-22_descr_anal.html
example data/colorlearning/evaluations/wtb_color-23_descr_anal.html
example data/colorlearning/evaluations/wtb_color-24_descr_anal.html
example data/colorlearning/evaluations/wtb_color-25_descr_anal.html
example data/colorlearning/evaluations/wtb_color-26_descr_anal.html
.RData
.RData
.Rhistory
.Rhistory
